:root{
    /* Cores */
    --cor-primaria: #0ba4ca;
    --cor-vermelha : #ef3e39;
    --cor-cinza-claro:#eee;
    --cinza-escuro: #3d3d3d;
    --cor-branca : #fff;
    --cor-preto: #000;
    /* tamanhos */
    --max-width: 1200px;
}
.clear{
    clear: both;
}
*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
.max-width{
    max-width: var(--max-width);
    width: 100%;
}
/* HEADER */
.logo-topo{
    max-width: 115px;
    padding: 10px;
    width: 100%;
}
#txtBuscaPostagem{
    max-width: 300px;
    width: 100%;
    color: var(--cinza-escuro);
    border: 1px solid var(--cinza-escuro);
    padding: 10px;
    margin-top: 35px;
    border-radius: 10px;
}

/* Menu */
.nav-topo-site{
    background-color: var(--cinza-escuro);
}
.nav-topo-site ul{
    padding: 0;
    list-style: none;    
}
.nav-topo-site ul li{
    display: inline;
}
.nav-topo-site ul li a{
    color: var(--cor-branca);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background .4s;
}
.nav-topo-site ul li a:hover{
    background-color: var(--cor-primaria);
}
.nav-topo-site ul li:last-child{
    float: right;
    background-color: var(--cor-primaria);

}

/*FOOTER*/
footer{
    background-color: var(--cinza-escuro);
    padding: 10px;
    color: var(--cor-branca);
    border-top: 5px solid var(--cor-primaria);
    margin-top: 30px;
}

footer a{
    color: var(--cor-branca);
    text-decoration: none;
    display: block;
    margin: 5px 0;
}
footer a:hover{
    color: var(--cor-vermelha);
}

/*Components*/

.component-square-post{
    text-align: center;
}
.component-square-post img{
    width: 100%;
    border: none;
}
.component-square-post .title{
    color: var(--cinza-escuro);
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition: color 0.1s;
}
.component-square-post .title:hover{
    color: var(--cor-vermelha);
}

/*Componente utilizado na pagina de busca*/
.component-post-search:last-child{
    border: none;
}
.component-post-search{
    text-align: left;
    padding-bottom: 10px;
    margin-top:  15px;
    border-bottom: 1px solid #ccc;
}
.component-post-search img{
    border: none;
    opacity: .8;
    width: 100%;
}
.component-post-search img:hover{
    opacity: 1;
}
.component-post-search h1{
    font-size: 2em;
}

.component-post-search h2{
    font-weight: normal;
    font-size: 1.5em;
}
.component-post-search a{
    font-weight: bold;
    color: var(--cor-primaria);
}